/MachineLearning/dist/
/MachineLearning/build/
/hrpod/dist/
/HrPod/HrPod-war/build/
/HrPod/HrPod-war/dist/
/HrPod/HrPod-war/nbproject/private/
/HrPod/nbproject/private/
/HrPodbkup2/HrPod-war/build/
/HrPodbkup2/HrPod-war/dist/
/HrPodbkup2/HrPod-war/nbproject/private/
/HrPodbkup2/nbproject/private/
/HrPod/build/
/HrPod/dist/