<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <beans:bean name="httpSessionService" class="mistic.reverseajax.HttpSessionService"/>

    <beans:bean name="securityFilter" class="mistic.servlet.SecurityFilter">
        <beans:property name="personDAO" ref="personDAO"/>
        <beans:property name="personFacade" ref="personFacadeBean"/>
        <beans:property name="surrogateFacade" ref="surrogateFacadeBean"/>
        <beans:property name="diasClient" ref="diasClient" />
        <beans:property name="httpSessionService" ref="httpSessionService" />
    </beans:bean>

    <http access-decision-manager-ref="accessDecisionManager">
        <!-- limit all url access to the "user" role -->
        <intercept-url pattern="/action/**" access="user" />
        <intercept-url pattern="/dwr/**" access="user" />
        <intercept-url pattern="/pdf/**" access="user" />
        <intercept-url pattern="/ad/**" access="user" />
        <intercept-url pattern="/attachment/**" access="user" />
        <intercept-url pattern="/capco/**" access="user" />
        <intercept-url pattern="/chart/**" access="user" />
        <intercept-url pattern="/commentsSearch/**" access="user" />
        <intercept-url pattern="/excel/**" access="user" />
        <intercept-url pattern="/Ext_4/**" access="user" />
        <intercept-url pattern="/help/**" access="user" />
        <intercept-url pattern="/mailuseragent/**" access="user" />
        <intercept-url pattern="/powerpoint/**" access="user" />
        <intercept-url pattern="/reader/**" access="user" />
        <intercept-url pattern="/scbComponents/**" access="user" />
        <intercept-url pattern="/searchAgent/**" access="user" />
        <intercept-url pattern="/shared/**" access="user" />
        <intercept-url pattern="/up/**" access="user" />
        <intercept-url pattern="/widgets/**" access="user" />
        <intercept-url pattern="/writer/**" access="user" />
        <x509 subject-principal-regex="(.*)" user-service-ref="detailsService"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="detailsService" />
    </authentication-manager>

    <beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
        <beans:property name="decisionVoters">
            <beans:list>
                <beans:ref local="roleVoter"/>
            </beans:list>
        </beans:property>
    </beans:bean>

    <!-- removes the ROLE_ default prefix for role names -->
    <beans:bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter">
        <beans:property name="rolePrefix" value=""/>
    </beans:bean>
 
    <beans:bean id="diasClient" class="mistic.security.DiasClientImpl" autowire="byType">
    </beans:bean>

    <beans:bean id="detailsService" class="mistic.security.DiasMasdDetailsService">
        <beans:property name="projectName" value="${diasProject}" />
        <beans:property name="diasClient" ref="diasClient"/>
    </beans:bean>
    

</beans:beans>
