<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.1.xsd
                           http://www.springframework.org/schema/jee
                           http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                           http://www.directwebremoting.org/schema/spring-dwr
                           http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd"> 
<!--
  ======================= DWR Converters ==============================
-->
<!--
  ====== please list bean and method names in alphabetical order ======
-->
    <dwr:configuration>
        <!-- Pure DTOs -->
        <dwr:convert type="bean" class="mistic.dto.AttachmentDTO">
            <dwr:include method="securityMarking" />
            <dwr:include method="fileName" />
            <dwr:include method="fileSize" />
            <dwr:include method="formattedFileSize" />
            <dwr:include method="attachmentId" />
            <dwr:include method="isAuthorizedForMessage" />
            <dwr:include method="isAuthorizedForEmail" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.QueryInfoDTO">
            <dwr:include method="query" />
            <dwr:include method="type" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.AuditLogSessionValues">
            <dwr:include method="accessPrivilegedFeatureChecked" />
            <dwr:include method="accessRecordChecked" />
            <dwr:include method="addRemoveUserFromAclChecked" />
            <dwr:include method="changeAuditedEventsChecked" />
            <dwr:include method="changePrivilegeOnShareChecked" />
            <dwr:include method="changeSecurityLabelOfRecordChecked" />
            <dwr:include method="createRecordChecked" />
            <dwr:include method="deleteRecordChecked" />
            <dwr:include method="endDate" />
            <dwr:include method="endTime" />
            <dwr:include method="exportRecordChecked" />
            <dwr:include method="loginChecked" />
            <dwr:include method="logLines" />
            <dwr:include method="logoutChecked" />
            <dwr:include method="printRecordChecked" />
            <dwr:include method="releaseActionsChecked" />
            <dwr:include method="searchText" />
            <dwr:include method="shareResourceChecked" />
            <dwr:include method="startDate" />
            <dwr:include method="startTime" />
            <dwr:include method="transferOwnershipChecked" />
            <dwr:include method="updateRecordChecked" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.ClassificationInfoDTO">
            <dwr:include method="cmtXML" />
            <dwr:include method="favoriteXML" />
            <dwr:include method="securityMarking" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.CommentDTO">
            <dwr:include method="comment" />
            <dwr:include method="createDate" />
            <dwr:include method="id" />
            <dwr:include method="modifiedDate" />
            <dwr:include method="msgId" />
            <dwr:include method="msgDbSource"/>
            <dwr:include method="subject" />
            <dwr:include method="ownerCn" />
            <dwr:include method="privateComment" />
            <dwr:include method="securityMarking" />
            <dwr:include method="topicId" />
            <dwr:include method="topicText" />
            <dwr:include method="type" />
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.dto.CommentDTO$Type"/>
        <dwr:convert type="bean" class="mistic.dto.CommentSearchDTO">
            <dwr:include method="comment" />
            <dwr:include method="createDate" />
            <dwr:include method="id" />
            <dwr:include method="modifiedDate" />
            <dwr:include method="msgId" />
            <dwr:include method="subject" />
            <dwr:include method="ownerCn" />
            <dwr:include method="ownerDn" />
            <dwr:include method="privateComment" />
            <dwr:include method="securityMarking" />
            <dwr:include method="dbSource"/>
            <dwr:include method="type" />
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.dto.CommentSearchDTO$Type"/>
        <dwr:convert type="bean" class="mistic.dto.CommentSearchParameterDTO">
            <dwr:include method="commentType"/>
            <dwr:include method="createDateRange"/>
            <dwr:include method="lastModifiedDateRange"/>
            <dwr:include method="maxRowsReturned"/>
            <dwr:include method="posters"/>
            <dwr:include method="searchText"/>
            <dwr:include method="sortFields"/>
            <dwr:include method="startPosition"/>
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.comment.search.CommentTypeFilterOption"/>
        <dwr:convert type="enum" class="mistic.comment.search.CommentIndexField"/>
        <dwr:convert type="enum" class="mistic.comment.search.CommentVisibilityFilterOption"/>
        <dwr:convert type="bean" class="mistic.dto.CoordinationParticipantDTO">
            <dwr:include method="actionRequired"/>
            <dwr:include method="comPhone" />
            <dwr:include method="cn" />
            <dwr:include method="dn" />
            <dwr:include method="enabled"/>
            <dwr:include method="title" />
            <dwr:include method="releaseableAddresses"/>
            <dwr:include method="dsnPhone" />
            <dwr:include method="emailAddress" />
            <dwr:include method="id" />
            <dwr:include method="org" />
            <dwr:include method="secPhone" />
            <dwr:include method="type" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.DateRangeDTO">
            <dwr:include method="lowerBoundary"/>
            <dwr:include method="upperBoundary"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.DeclassInstructBlockDTO">
            <dwr:include method="classifiedBy"/>
            <dwr:include method="classificationReason"/>
            <dwr:include method="declassOn"/>
            <dwr:include method="derivedFrom"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.DraftHistoryDTO">
            <dwr:include method="historyId"/>
            <dwr:include method="draftId"/>
            <dwr:include method="personCn"/>
            <dwr:include method="historyDescription"/>
            <dwr:include method="historyAction"/>
            <dwr:include method="createDt"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.EventLogSessionValues">
            <dwr:include method="classificationManagementChecked" />
            <dwr:include method="commentProcessingChecked" />
            <dwr:include method="contactManagementChecked" />
            <dwr:include method="debugChecked" />
            <dwr:include method="distributionListManagementChecked" />
            <dwr:include method="endDate" />
            <dwr:include method="endTime" />
            <dwr:include method="errorChecked" />
            <dwr:include method="fatalChecked" />
            <dwr:include method="folderManagementChecked" />
            <dwr:include method="groupManagementChecked" />
            <dwr:include method="infoChecked" />
            <dwr:include method="logLines" />
            <dwr:include method="logManagementChecked" />
            <dwr:include method="messageProcessingChecked" />
            <dwr:include method="messageValidationChecked" />
            <dwr:include method="plaManagementChecked" />
            <dwr:include method="releaseCoordinationChecked" />
            <dwr:include method="roleManagementChecked" />
            <dwr:include method="searchAgentManagementChecked" />
            <dwr:include method="searchText" />
            <dwr:include method="securityManagementChecked" />
            <dwr:include method="sensitiveWordListManagementChecked" />
            <dwr:include method="startDate" />
            <dwr:include method="startTime" />
            <dwr:include method="surrogateManagementChecked" />
            <dwr:include method="systemInfrastructureChecked" />
            <dwr:include method="systemPreferenceManagementChecked" />
            <dwr:include method="userManagementChecked" />
            <dwr:include method="warnChecked" />
            <dwr:include method="webServicesChecked" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.EventLogSessionFilterValuesDTO" >
            <dwr:include method="classificationManagementChecked" />
             <dwr:include method="commentProcessingChecked" />
              <dwr:include method="contactManagementChecked" />
              <dwr:include method="distributionListManagementChecked" />
              <dwr:include method="folderManagementChecked" />
              <dwr:include method="groupManagementChecked" />
              <dwr:include method="logManagementChecked" />
              <dwr:include method="messageProcessingChecked" />
              <dwr:include method="messageValidationChecked" />
              <dwr:include method="plaManagementChecked" />
              <dwr:include method="releaseCoordinationChecked" />
              <dwr:include method="roleManagementChecked" />
              <dwr:include method="searchAgentManagementChecked" />
              <dwr:include method="securityManagementChecked" />
              <dwr:include method="sensitiveWordListManagementChecked" />
              <dwr:include method="surrogateManagementChecked" />
              <dwr:include method="systemInfrastructureChecked" />
              <dwr:include method="systemPreferenceManagementChecked" />
              <dwr:include method="userManagementChecked" />
              <dwr:include method="webServicesChecked" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.EventLogSessionValuesDTO">
            <dwr:include method="endDate" />
            <dwr:include method="endTime" />
            <dwr:include method="filterValues" />
            <dwr:include method="logLines" />
            <dwr:include method="logSessionLevels" />
            <dwr:include method="searchText" />
               <dwr:include method="startDate" />
            <dwr:include method="startTime" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.ExternalLinksDTO">
            <dwr:include method="label" />
            <dwr:include method="url" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.FileUploadResult">
            <dwr:include method="id"/>
            <dwr:include method="message"/>
            <dwr:include method="securityMarking"/>
            <dwr:include method="fileSize"/>
            <dwr:include method="formattedFileSize"/>
            <dwr:include method="isAuthorizedForMessage" />
            <dwr:include method="isAuthorizedForEmail" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.FolderDTO">
            <dwr:include method="activeAgent" />
            <dwr:include method="allowDrop" />
            <dwr:include method="children" />
            <dwr:include method="draggable" />
            <dwr:include method="expandable" />
            <dwr:include method="folderType" />
            <dwr:include method="id" />
            <dwr:include method="isprivate" />
            <dwr:include method="isShared" />
            <dwr:include method="leaf" />
            <dwr:include method="ownerId" />
            <dwr:include method="ownerName" />
            <dwr:include method="permission" />
            <dwr:include method="public" />
            <dwr:include method="searchDefinitionIds" />
            <dwr:include method="sharedWith" />
            <dwr:include method="text" />
            <dwr:include method="unreadCount" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.FolderShareDTO">
            <dwr:include method="groupName" />
            <dwr:include method="id" />
            <dwr:include method="shareAccess" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.HistoryDTO">
            <dwr:include method="groupName" />
            <dwr:include method="id" />
            <dwr:include method="shareAccess" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.LogSessionLevelsDTO" >
            <dwr:include method="debugChecked" />
            <dwr:include method="errorChecked" />
            <dwr:include method="fatalChecked" />
            <dwr:include method="infoChecked" />
            <dwr:include method="warnChecked" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.LogSessionValues">
            <dwr:include method="endDate" />
            <dwr:include method="endTime" />
            <dwr:include method="logLines" />
            <dwr:include method="searchText" />
            <dwr:include method="startDate" />
            <dwr:include method="startTime" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.GroupMemberDTO">
            <dwr:include method="id" />
            <dwr:include method="name" />
            <dwr:include method="type" />
            <dwr:include method="cn" />
            <dwr:include method="dsnPhone" />
            <dwr:include method="secPhone" />
            <dwr:include method="comPhone" />
            <dwr:include method="emailAddress" />
            <dwr:include method="org" />
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.dto.MessageDTO$MessageCategory"/>
        <dwr:convert type="bean" class="mistic.dto.MessageDTO">
            <dwr:include method="actionRequired" />
            <dwr:include method="attachmentList" />
            <dwr:include method="body" />
            <dwr:include method="commDomain" />
            <dwr:include method="ddiCodes" />
            <dwr:include method="dbSource"/>
            <dwr:include method="dtg" />
            <dwr:include method="emailFrom" />
            <dwr:include method="emailTo" />
            <dwr:include method="emailCc" />
            <dwr:include method="emailClassification" />
            <dwr:include method="emailBcc" />
            <dwr:include method="emailRemarks" />
            <dwr:include method="folderId" />
            <dwr:include method="folderType" />
            <dwr:include method="hasAttachments" />
            <dwr:include method="id" />
            <dwr:include method="infoPrec" />
            <dwr:include method="infoZen" />
            <dwr:include method="lastModCN" />
            <dwr:include method="lastModDN" />
            <dwr:include method="lastModDt" />
            <dwr:include method="lastModPersonId" />
            <dwr:include method="lockedByCN" />
            <dwr:include method="lockedByDN" />
            <dwr:include method="lockedByPersonId" />
            <dwr:include method="messageCategory" />
            <dwr:include method="messageClassification" />
            <dwr:include method="messageExclude" />
            <dwr:include method="messageFrom" />
            <dwr:include method="messageTo" />
            <dwr:include method="messageInfo" />
            <dwr:include method="name" />
            <dwr:include method="opsSignals" />
            <dwr:include method="origAuthor" />
            <dwr:include method="creatorId" />
            <dwr:include method="queue"/>
            <dwr:include method="read" />
            <dwr:include method="recDt" />
            <dwr:include method="relevance"/>
            <dwr:include method="richText" />
            <dwr:include method="sentDt" />
            <dwr:include method="status" />
            <dwr:include method="storageClassification" />
            <dwr:include method="subject" />
            <dwr:include method="toPrec" />
            <dwr:include method="toZen" />
            <dwr:include method="zones" />
            <dwr:include method="documentType" />            
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.util.MessageZone">
            <dwr:include method="name" />
            <dwr:include method="value" />
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.util.MessageZone$Name" />
        <dwr:convert type="bean" class="mistic.dto.ProfileDTO">
            <dwr:include method="activated"/>
            <dwr:include method="description"/>
            <dwr:include method="folderId"/>
            <dwr:include method="id"/>
            <dwr:include method="name"/>
            <dwr:include method="ownerDn"/>
            <dwr:include method="queryType"/>
            <dwr:include method="securityMarking"/>
            <dwr:include method="sourcesList"/>
            <dwr:include method="subject"/>
            <dwr:include method="vqlString"/>
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.archive.QuerySyntaxType"/>
        <dwr:convert type="bean" class="mistic.dto.RefreshDTO">
            <dwr:include method="roles" />
            <dwr:include method="sessionSystemPreferences" />
            <dwr:include method="userDto" />
            <dwr:include method="userPreferences" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.ReleaseCandidateDTO">
            <dwr:include method="actionRequired"/>
            <dwr:include method="attachmentList"/>
            <dwr:include method="hasAttachments"/>
            <dwr:include method="body"/>
            <dwr:include method="commDomain"/>
            <dwr:include method="ddiCodes"/>
            <dwr:include method="dtg"/>
            <dwr:include method="emailFrom"/>
            <dwr:include method="emailTo"/>
            <dwr:include method="emailCc"/>
            <dwr:include method="emailClassification" />
            <dwr:include method="emailBcc"/>
            <dwr:include method="folderId"/>
            <dwr:include method="folderType"/>
            <dwr:include method="id"/>
            <dwr:include method="lastModCN"/>
            <dwr:include method="lastModDN"/>
            <dwr:include method="lastModDt"/>
            <dwr:include method="lastModPersonId"/>
            <dwr:include method="lockedByCN"/>
            <dwr:include method="lockedByDN"/>
            <dwr:include method="lockedByPersonId"/>
            <dwr:include method="messageExclude"/>
            <dwr:include method="messageClassification" />
            <dwr:include method="messageFrom"/>
            <dwr:include method="messageTo"/>
            <dwr:include method="messageInfo"/>
            <dwr:include method="name"/>
            <dwr:include method="opsSignals"/>
            <dwr:include method="origAuthor"/>
            <dwr:include method="creatorId"/>
            <dwr:include method="relevance"/>
            <dwr:include method="sentDt"/>
            <dwr:include method="status"/>
            <dwr:include method="storageClassification"/>
            <dwr:include method="storageClassificationLabel"/>
            <dwr:include method="subject"/>
            <dwr:include method="toPrec"/>
            <dwr:include method="toZen"/>
            <dwr:include method="read"/>
            <dwr:include method="recDt"/>
            <dwr:include method="infoPrec"/>
            <dwr:include method="infoZen"/>
            <dwr:include method="queue"/>
        </dwr:convert>
        <dwr:convert class="mistic.dto.ReleaseLockStatusDTO" type="bean">
            <dwr:include method="userCn"/>
            <dwr:include method="userId"/>
        </dwr:convert>
        <dwr:convert class="mistic.dto.ReleaseResult" type="bean">
            <dwr:include method="invalidAttachments"/>
            <dwr:include method="message"/>
            <dwr:include method="messageBody"/>
            <dwr:include method="success"/>
        </dwr:convert>
        <dwr:convert class="mistic.dto.RoleTreeNodeDTO" type="bean">
            <dwr:include method="id"/>
            <dwr:include method="name"/>
            <dwr:include method="children"/>
            <dwr:include method="allowCreate"/>
            <dwr:include method="allowEdit"/>
            <dwr:include method="allowDelete"/>
            <dwr:include method="allowView"/>
            <dwr:include method="manager"/>
            <dwr:include method="user"/>
        </dwr:convert>
        <dwr:convert class="mistic.dto.EmailResult" type="bean">
            <dwr:include method="invalidAttachments"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.RoleDTO">
            <dwr:include method="access" />
            <dwr:include method="description" />
            <dwr:include method="id" />
            <dwr:include method="managers" />
            <dwr:include method="name" />
            <dwr:include method="parentId" />
            <dwr:include method="parentName" />
            <dwr:include method="permissions" />
            <dwr:include method="parentPermissions" />
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.dto.RoleDTO$Access" />
        <dwr:convert type="bean" class="mistic.dto.PermissionDTO">
            <dwr:include method="category" />
            <dwr:include method="description" />
            <dwr:include method="id" />
            <dwr:include method="inheritable" />
            <dwr:include method="name" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.SavedSearchShareDTO">
            <dwr:include method="groupId"/>
            <dwr:include method="groupName"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.SearchDefinitionDTO">
            <dwr:include method="active"/>
            <dwr:include method="description"/>
            <dwr:include method="dtrBegin"/>
            <dwr:include method="dtrEnd"/>
            <dwr:include method="folderId"/>
            <dwr:include method="folderType"/>
            <dwr:include method="id"/>
            <dwr:include method="emailEnabled"/>
            <dwr:include method="lastExecuteDate"/>
            <dwr:include method="lastSaveDate"/>
            <dwr:include method="name"/>
            <dwr:include method="ownerCn"/>
            <dwr:include method="ownerDn"/>
            <dwr:include method="ownerId"/>
            <dwr:include method="parentFolderId"/>
            <dwr:include method="profileType"/>
            <dwr:include method="queryType"/>
            <dwr:include method="securityMarking"/>
            <dwr:include method="securityMarkingId"/>
            <dwr:include method="shareList"/>
            <dwr:include method="sourcesList"/>
            <dwr:include method="subject"/>
            <dwr:include method="vqlString"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.SecurityMarking">
            <dwr:include method="bannerColor" />
            <dwr:include method="classification" />
            <dwr:include method="classificationLabel"/>
            <dwr:include method="classificationReason" />
            <dwr:include method="classifiedBy" />
            <dwr:include method="declassDate" />
            <dwr:include method="declassEvent" />
            <dwr:include method="declassException" />
            <dwr:include method="declassInstructBlock" />
            <dwr:include method="defaultBannerColor" />
            <dwr:include method="defaultCapcoLabel" />
            <dwr:include method="derivedFrom" />
            <dwr:include method="disseminationControls" />
            <dwr:include method="FGISourceOpen" />
            <dwr:include method="FGISourceProtected" />
            <dwr:include method="nonICmarkings" />
            <dwr:include method="ownerProducer" />
            <dwr:include method="releasableTo" />
            <dwr:include method="nonUSControls" />
            <dwr:include method="SARIdentifier" />
            <dwr:include method="SCIControls" />
            <dwr:include method="portionLabel" />
            <dwr:include method="compilationReason" />
            <dwr:include method="atomicEnergyMarkings" />
            <dwr:include method="displayOnlyTo" />
            <dwr:include method="derivativelyClassifiedBy" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.ClassificationInfoObject">
        	<dwr:include method="banner" />
            <dwr:include method="cmtXML" />
            <dwr:include method="favoriteXML" />
            <dwr:include method="portionLabel" />
            <dwr:include method="securityMarking" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.SystemBannerDTO">
            <dwr:include method="color" />
            <dwr:include method="text" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.UserDTO">
            <dwr:include method="activeId" />
            <dwr:include method="comPhone" />
            <dwr:include method="cn" />
            <dwr:include method="dn" />
            <dwr:include method="lastLogin" />
            <dwr:include method="title" />
            <dwr:include method="highPrecedenceType" />
            <dwr:include method="dsnPhone" />
            <dwr:include method="emailAddress" />
            <dwr:include method="id" />
            <dwr:include method="org" />
            <dwr:include method="secPhone" />
            <dwr:include method="surrogates" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.ValidationReportDTO"/>
        <dwr:convert type="bean" class="mistic.dto.ValidationDTO">
            <dwr:include method="rule"/>
            <dwr:include method="ruleType"/>
            <dwr:include method="validation"/>
            <dwr:include method="messages"/>
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.dto.ValidationDTO$RuleType" />
        <dwr:convert type="enum" class="mistic.dto.ValidationDTO$Validation" />
        <dwr:convert type="bean" class="mistic.dto.WordListDTO">
            <dwr:include method="id"/>
            <dwr:include method="name"/>
            <dwr:include method="preferred"/>
            <dwr:include method="securityMarking"/>
            <dwr:include method="words"/>
            <dwr:include method="securityMarkingId"/>            
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.ValidValuesDTO" >
            <dwr:include method="allowedEmailAttachmentTypes" />
            <dwr:include method="allowedMessageAttachmentTypes" />
            <dwr:include method="availableEmailAttachmentTypes" />
            <dwr:include method="availableMessageAttachmentTypes" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.dto.AttachmentTypesDTO" >
            <dwr:include method="allowedMessageAttachmentTypes" />
            <dwr:include method="availableMessageAttachmentTypes" />
            <dwr:include method="allowedEmailAttachmentTypes" />
            <dwr:include method="availableEmailAttachmentTypes" />
            <dwr:include method="allowAnyEmailAttachments" />
            <dwr:include method="allowAnyMessageAttachments" />
        </dwr:convert>

        <!-- Entities -->

        <dwr:convert type="bean" class="mistic.entity.AuditLogEntry">
            <dwr:include method="syslogEntry" />
            <dwr:include method="timestamp" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.DeliveryAddress">
            <dwr:include method="address"/>
            <dwr:include method="addressType"/>
            <dwr:include method="createDate"/>
            <dwr:include method="id"/>
            <dwr:include method="releasers"/>
            <dwr:include method="favorites"/>
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.entity.DeliveryAddress$AddressType" />
        <dwr:convert type="bean" class="mistic.entity.DistributionList">
            <dwr:include method="addressType"/>
            <dwr:include method="id"/>
            <dwr:include method="listName"/>
            <dwr:include method="owner"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.DistributionListMember">
            <dwr:include method="distributionList"/>
            <dwr:include method="id"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.DistributionListMemberPK">
            <dwr:include method="deliveryAddress"/>
            <dwr:include method="distributionListId"/>
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.entity.DraftHistory$HistoryAction" />
        <dwr:convert type="bean" class="mistic.entity.DraftHistory">
            <dwr:include method="draftId"/>
            <dwr:include method="historyDesc"/>
            <dwr:include method="historyId"/>
            <dwr:include method="modDt"/>
            <dwr:include method="ownerId"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.DraftReference">
            <dwr:include method="attachments"/>
            <dwr:include method="dtg"/>
            <dwr:include method="email"/>
            <dwr:include method="folderId"/>
            <dwr:include method="fromAddr"/>
            <dwr:include method="id"/>
            <dwr:include method="lastModDt"/>
            <dwr:include method="lastModPersonId"/>
            <dwr:include method="lockedByUserId"/>
            <dwr:include method="name"/>
            <dwr:include method="ownerId"/>
            <dwr:include method="queue"/>
            <dwr:include method="scrtyClassLabel"/>
            <dwr:include method="subject"/>
            <dwr:include method="toPrec"/>
            <dwr:include method="type"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.EventExceptionLogEntry">
            <dwr:include method="exceptionText"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.EventLogEntry">
            <dwr:include method="exceptions" /><!-- collection -->
            <dwr:include method="syslogEntry" />
            <dwr:include method="timestamp" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.MessageTransmitLogEntry">
            <dwr:include method="id" />
            <dwr:include method="messageDTG" />
            <dwr:include method="messageId" />
            <dwr:include method="messageOrigination" />
            <dwr:include method="messageReleaserDn" />
            <dwr:include method="messageReleaseTimestamp" />
            <dwr:include method="requestIp" />
            <dwr:include method="syslogEntry" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.Notice">
            <dwr:include method="body" />
            <dwr:include method="from" />
            <dwr:include method="id" />
            <dwr:include method="subject" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.Folder">
            <dwr:include method="id" />
            <dwr:include method="name" />
            <dwr:include method="iconType" />
            <dwr:include method="draggable" />
            <dwr:include method="droppable" />
            <dwr:include method="allowChildren" />
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.entity.Folder$Type" />
        <dwr:convert type="bean" class="mistic.entity.Group">
            <dwr:include method="defaultRelease"/>
            <dwr:include method="id" />
            <dwr:include method="name" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.FolderShare" />
        <dwr:convert type="enum" class="mistic.entity.FolderShare$ShareAccess" />
        <dwr:convert type="bean" class="mistic.entity.FolderSharePK">
            <dwr:include method="groupId" />
            <dwr:include method="folderId" />
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.entity.ProfileReference$ProfileType"/>
        <dwr:convert type="bean" class="mistic.entity.ProfileReference">
            <dwr:include method="archiveId" />
            <dwr:include method="active" />
            <dwr:include method="dbNames" />
            <dwr:include method="lastUpdate"/>
            <dwr:include method="archiveFolderId" />
            <dwr:include method="description"/>
            <dwr:include method="name" />
            <dwr:include method="query" />
            <dwr:include method="type" />
            <dwr:include method="queryType" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.Person">
            <dwr:include method="comPhone" />
            <dwr:include method="cn" />
            <dwr:include method="dn" />
            <dwr:include method="enabled"/>
            <dwr:include method="title" />
            <dwr:include method="releaseableAddresses"/>
            <dwr:include method="dsnPhone" />
            <dwr:include method="emailAddress" />
            <dwr:include method="highPrecedenceType" />
            <dwr:include method="id" />
            <dwr:include method="org" />
            <dwr:include method="secPhone" />
            <dwr:include method="type" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.Permission">
            <dwr:include method="category" />
            <dwr:include method="description" />
            <dwr:include method="id" />
            <dwr:include method="name" />
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.entity.Person$SortField" />
        <dwr:convert type="bean" class="mistic.entity.Role">
            <dwr:include method="description" />
            <dwr:include method="id" />
            <dwr:include method="name" />
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.ProfileShare"/>
        <dwr:convert type="bean" class="mistic.entity.ProfileSharePK">
            <dwr:include method="groupId"/>
            <dwr:include method="profileId"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.ReleaseAuthority" />
        <dwr:convert type="bean" class="mistic.entity.ReleaseAuthorityPK">
            <dwr:include method="deliveryAddressId"/>
            <dwr:include method="personId"/>
            <dwr:include method="releasePrecedence"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.SavedSearchShare"/>
        <dwr:convert type="bean" class="mistic.entity.SavedSearchSharePK">
            <dwr:include method="groupId"/>
            <dwr:include method="shareId"/>
        </dwr:convert>
        <dwr:convert type="bean" class="mistic.entity.UserPreference">
            <dwr:include method="name" />
            <dwr:include method="value" />
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.entity.ValidValue$Type"/>
        <dwr:convert type="bean" class="mistic.entity.ValidValue">
            <dwr:include method="allowed"/>
            <dwr:include method="description"/>
            <dwr:include method="id"/>
            <dwr:include method="name"/>
            <dwr:include method="type"/>
            <dwr:include method="value"/>
        </dwr:convert>

        <!-- Utility stuff -->
        <dwr:convert type="enum" class="mistic.util.Precedence" />

        <dwr:convert type="bean" class="mistic.util.PagedCollection">
            <dwr:include method="currentPage" />
            <dwr:include method="data" />
            <dwr:include method="lastReadId" />
            <dwr:include method="searchId" />
            <dwr:include method="totalPages" />
            <dwr:include method="totalRecords" />
            <dwr:include method="queryInfo" />
            <dwr:include method="executeDate" />
            <dwr:include method="folderId" />
        </dwr:convert>

        <dwr:convert type="bean" class="mistic.util.sorting.SortCriteria">
            <dwr:include method="sortBy" />
            <dwr:include method="sortDirection" />
        </dwr:convert>
        <dwr:convert type="enum" class="mistic.util.sorting.SortCriteria$Direction" />
        <dwr:convert type="enum" class="mistic.util.sorting.SortCriteria$SortColumn" />

        <!-- convert exceptions for verbose output -->
        <dwr:convert type="exception" class="java.lang.Exception">
            <dwr:include method="message,lineNumber" />
        </dwr:convert>
<!--
        <dwr:convert type="bean" class="java.lang.StackTraceElement" />
-->
    </dwr:configuration>
</beans>
